
.top-sellers {
  text-align: center;
  margin-top: 30px;
}

.top-sellers p{
    color: rgba(85, 85, 85, 1);
}
.products-grid {
  cursor: pointer;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: 20px 0;
}
.product img {
    width: 295px;
    height: 342px;
    
}
.product h3 {
  font-size: 1.2rem;
  margin: 10px 0;
}
.shop-now {
  background-color: #003366;
  color: white;
  padding: 15px 40px;
  border: none;
  cursor: pointer;
}
footer {
  background: #f8f8f8;
  padding: 20px 40px;
}
.footer-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

}
.footer-columns .column ul {
  text-align: left;
  list-style: none;
  padding: 0px;
  color: rgba(29, 29, 29, 1);
}
.footer-bottom {
  text-align:left;
  font-size: 0.9rem;
  color: #666;
}
.payment-icons img {
  width: 60px;
  margin-right: 10px;
 
}

.alll{
    background-color: rgba(251, 251, 251, 1);
}

